#### Importação das bibliotecas

In [1]:
import pandas as pd
import plotly.express as px
!pip install statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
import numpy as np

Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (0.14.2)
Requirement already satisfied: numpy>=1.22.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.13.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (2.1.4)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.6->statsmodels) (1.16.0)

#### Carregamento e tratamento dos dados

In [2]:
data = pd.read_excel('coronarias_1.xlsx')

In [4]:
data.replace('.', np.nan, inplace=True)
data['ALTURA'] = data['ALTURA'].str.replace(',', '.').astype(float)
data['PESO'] = data['PESO'].str.replace(',', '.').astype(float)
data['IMC'] = data['IMC'].str.replace(',', '.').astype(float)
data.fillna(data.median(), inplace=True)

In [28]:
data['HA'] = data['HA'].astype(int)
data['DIAB'] = data['DIAB'].astype(int)
data['TABAG'] = data['TABAG'].astype(int)
data['TABAG4'] = data['TABAG4'].astype(int)

In [109]:
data.head(5)

,IDENT,HA,COL,HDL,LDL,VLDL,TRIG,DIAB,GLIC,AH,TABAG,TABAG4,ALTURA,PESO,IMC,SEXO,INFARTO
0,1351,1,165.0,49.0,102.0,14.0,69.0,0,85.0,0,1,3,1.70,74.0,25.61,1,1
1,1352,0,230.0,64.0,136.0,24.0,235.0,0,100.0,0,1,3,1.77,93.0,29.68,1,1
2,1353,1,217.5,43.0,136.0,24.0,150.0,0,93.0,0,1,1,1.68,106.0,25.61,1,1
3,1354,1,175.0,33.0,134.0,8.0,94.0,1,73.0,0,1,1,1.65,65.0,23.88,1,1
4,1355,1,219.0,43.0,136.0,24.0,170.0,0,183.0,0,0,0,1.77,95.0,30.32,1,0

### Análises descritivas

In [106]:
# var quali
data['HA'].value_counts()

HA
0    76
1    71
Name: count, dtype: int64

In [35]:
# var quali
data['HA'].value_counts(normalize=True).round(2)

HA
0    0.52
1    0.48
Name: proportion, dtype: float64

In [36]:
# var quant
data['COL'].describe().round(2)

count    147.00
mean     223.19
std       47.11
min       74.00
25%      204.50
50%      217.50
75%      231.50
max      396.00
Name: COL, dtype: float64

In [37]:
# quant
data['HDL'].describe().round(2)

count    147.00
mean      44.01
std       14.73
min       19.00
25%       43.00
50%       43.00
75%       43.00
max      196.00
Name: HDL, dtype: float64

In [38]:
# quant
data['LDL'].describe().round(2)

count    147.00
mean     136.54
std       20.46
min       63.00
25%      136.00
50%      136.00
75%      136.00
max      225.00
Name: LDL, dtype: float64

In [39]:
# quant
data['VLDL'].describe().round(2)

count    147.00
mean      25.61
std       10.04
min        8.00
25%       24.00
50%       24.00
75%       24.00
max       96.00
Name: VLDL, dtype: float64

In [40]:
# quant
data['TRIG'].describe().round(2)

count    147.00
mean     170.52
std       86.84
min       38.00
25%      133.50
50%      150.00
75%      198.00
max      660.00
Name: TRIG, dtype: float64

In [41]:
# var quali
data['DIAB'].value_counts().round(2)

DIAB
0    129
1     18
Name: count, dtype: int64

In [42]:
# var quali
data['DIAB'].value_counts(normalize=True).round(2)

DIAB
0    0.88
1    0.12
Name: proportion, dtype: float64

In [43]:
# quant
data['GLIC'].describe().round(2)

count    147.00
mean      99.27
std       32.09
min       58.00
25%       86.00
50%       93.00
75%       99.00
max      325.00
Name: GLIC, dtype: float64

In [44]:
# quant
data['AH'].describe().round(2)

count    147.00
mean       0.86
std        1.35
min        0.00
25%        0.00
50%        0.00
75%        2.00
max        9.00
Name: AH, dtype: float64

In [45]:
# var quali
data['TABAG'].value_counts().round(2)

TABAG
1    105
0     42
Name: count, dtype: int64

In [46]:
# var quali
data['TABAG'].value_counts(normalize=True).round(2)

TABAG
1    0.71
0    0.29
Name: proportion, dtype: float64

In [47]:
# var quali
data['TABAG4'].value_counts().round(2)

TABAG4
2    50
0    42
3    30
1    25
Name: count, dtype: int64

In [48]:
# var quali
data['TABAG4'].value_counts(normalize=True).round(2)

TABAG4
2    0.34
0    0.29
3    0.20
1    0.17
Name: proportion, dtype: float64

In [57]:
# quant
data['ALTURA'].describe().round(2)

count    147.00
mean       1.67
std        0.09
min        1.44
25%        1.62
50%        1.68
75%        1.73
max        1.90
Name: ALTURA, dtype: float64

In [58]:
# quant
data['PESO'].describe().round(2)

count    147.00
mean      73.99
std       12.20
min       47.00
25%       66.00
50%       74.00
75%       81.50
max      129.00
Name: PESO, dtype: float64

In [59]:
# quant
data['IMC'].describe().round(2)

count    147.00
mean      26.29
std        3.91
min       16.00
25%       24.06
50%       25.61
75%       28.59
max       41.18
Name: IMC, dtype: float64

In [60]:
# var quali
data['SEXO'].value_counts().round(2)

SEXO
1    115
0     32
Name: count, dtype: int64

In [61]:
# var quali
data['SEXO'].value_counts(normalize=True).round(2)

SEXO
1    0.78
0    0.22
Name: proportion, dtype: float64

In [63]:
# var quali
data['INFARTO'].value_counts().round(2)

INFARTO
0    102
1     45
Name: count, dtype: int64

In [64]:
# var quali
data['INFARTO'].value_counts(normalize=True).round(2)

INFARTO
0    0.69
1    0.31
Name: proportion, dtype: float64

#### boxplot

In [113]:
fig = px.box(data[['IMC', 'SEXO']], x='SEXO', y='IMC', width=600, height=600)
fig.show()

#### Coeficiente de Determinação

In [74]:
model = ols('IMC ~ SEXO', data = data).fit()
anova_result = sm.stats.anova_lm(model, typ=2)
print(anova_result)

               sum_sq     df          F    PR(>F)
SEXO       179.751432    1.0  12.699444  0.000496
Residual  2052.369957  145.0        NaN       NaN

In [75]:
ss_total = anova_result['sum_sq'].sum()
ss_total

2232.1213891156453

In [76]:
ss_modelo = anova_result['sum_sq'][1]
ss_modelo

<ipython-input-76-543e3857b320>:1: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

2052.369956657609

In [96]:
r_squared = 1-(ss_modelo/ss_total)
r_squared

0.08052941624704968

#### Correlações

In [94]:
corr_alt_pes = data[['ALTURA', 'PESO']].corr(method='pearson')
corr_alt_pes.round(2)

        ALTURA  PESO
ALTURA    1.00  0.43
PESO      0.43  1.00

In [93]:
corr_alt_pes = data[['ALTURA', 'PESO']].corr(method='spearman')
corr_alt_pes.round(2)

        ALTURA  PESO
ALTURA    1.00  0.44
PESO      0.44  1.00

In [90]:
fa_ta4_sex = pd.crosstab(index=data['SEXO'], columns=data['TABAG4'], margins=True, margins_name='Total')
fa_ta4_sex

TABAG4   0   1   2   3  Total
SEXO
0       16   3  12   1     32
1       26  22  38  29    115
Total   42  25  50  30    147

In [115]:
fr_ta4_sex = (fa_ta4_sex/fa_ta4_sex.loc['Total', 'Total']).round(2)
fr_ta4_sex

TABAG4     0     1     2     3  Total
SEXO
0       0.11  0.02  0.08  0.01   0.22
1       0.18  0.15  0.26  0.20   0.78
Total   0.29  0.17  0.34  0.20   1.00